<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MYPROJECT</title>
<link rel="stylesheet" href="../static/css/style.css">   <!-- link to css -->
<body>
    <header>
        <img src="../static/imgs/COVIDAP.png" id="logo">
    </header>

    <div id="icon-container">
        <img src="../static/imgs/icon.png" id="icon">
    </header>
    </div>

    <main>
        <!--  <section id="MLname">
            <div class = "text-container">MLMD </div>
        </section> -->
       

            <div id="about">
                <h2>> About COViDAP </h2>
            </div>

            <section id="intro">
                <h1>COViDAP is a web tool for determining a given molecule’s drug activity against SARS-CoV-2 and its conformity with known drug behavior based on five drug-likeness tests.</h1>
                <p>How to Use COViDAP:</p>
                <ol>                   
                    <li>Enter the SMILES notation of the molecular candidate.</li>
                    <li>Click the “Submit” button to generate the candidate’s report.</li>
                    <li>Receive the molecule’s predicted activity against SARS-CoV-2 and its conformity to known drug-likeness criteria.</li>
                    <li>A SARS-CoV-2 drug candidate must be predicted to be active and pass all five drug-likeness tests.</li>               
                </ol>
            </section>
                        
            <div id="smile-submission">
                <h2>> Provide Your SMILE</h2>
                
                    <form method="post" action='/upload' enctype="multipart/form-data">
                    <h6>Example: O=[N+]([O-])C(Br)([N+](=O)[O-])[N+](=O)[O-]</h6>

                    <textarea id="Name" name="smile_name" placeholder = "Put you SMILE Here..."></textarea><br>
                    <button type="submit" class="submit-button">Submit</button>
                    </form>
            </div>

            {% if result %} 
            <div id="result">
            
                <h2>> Result</h2>
                {% if result.error %}
                    <p>{{ result.error }}</p>
                {% else %}
                    <p>SMILE: {{ result['SMILE'] }}</p>
                    <p><img src="{{ result['Structure'] }}"></p>
                    <p>Normal Boiling Point: {% if result['Normal boiling point'] %}{{ '%.2f' | format(result['Normal boiling point']) }} K{% else %}N/A{% endif %}</p>
                    <p>Enthalpy of Formation (Gaseous state): {% if result['Enthalpy of Formation (Gaseous state)'] %}{{ '%.2f' | format(result['Enthalpy of Formation (Gaseous state)']) }} kJ/mole{% else %}N/A{% endif %}</p>
                    <p>Acentric Factor: {% if result['Acentric factor'] %}{{ '%.4f' | format(result['Acentric factor']) }}{% else %}N/A{% endif %}</p>
                    <p>Critical Compressibility Factor: {% if result['Critical compressibility factor'] %}{{ '%.4f' | format(result['Critical compressibility factor']) }}{% else %}N/A{% endif %}</p>                                 
                {% endif %}
            {% endif %}
            </div>
        </section>
    </main>
    <footer>
        <p> &copy; 2024 SIT Senior Research Team Project  </p>
        <p> dbaizhig@stevens.edu </p>
        <p> jpark26@stevens.edu </p>
        <p> lacocell@stevens.edu </p>
    </footer>
</body>
</html>



